main{
    padding: 20px;
    background-color: $color3;
    
}

h1{
    padding: 30px;
    margin: 0px 10px 20px 10px;
    text-align: center;
    border: 8px solid $color4;
    background-color: $color2;
    font-family: $fuenteRoboto;
    font-size: 30px;
    
}
.imgUno{
    display: flex;
    justify-content: center;
}
h2{
    padding: 30px;
    margin: 30px 40px 30px 40px;
    text-align: center;
    border: 8px solid $color4;
    background-color: $color2;
    font-family: $fuenteRoboto;
}

p{
    max-width: 100%;
    padding: 30px;
    margin: 30px 60px 30px 60px;
    text-align: justify;
    border: 8px solid $color4;
    background-color: $color2;
    font-family: $fuenteOpen;
}
img{
    max-width: 100%;
    max-height: 100%;
    border: 8px solid $color4;

    
}