@media (min-width: 992px){
    header{

        @include medidas (20px, none, none);
    }

    main{

        @include medidas (20px, none, none);

        
    }
    
    h1{

        @include medidas (20px, 0px 10px 20px 10px, 30px);
        
    }
    h2{

        @include medidas (30px, 30px 40px 30px 40px, none);
    }
    
    p{

        @include medidas (30px, 30px 60px 30px 60px, none);
    }
    img{
      
        max-width: auto;
        max-height: 600px;
    
        
    }

    footer{

        @include medidas (20px, none, none);
  
    }
    h3{

        @include medidas (30px, 0px 20px 10px 20px, 24px);
    }

    .imgUno{
        display: flex;
        justify-content: center;
    }
    

}