@media (min-width: 576px){
    header{
        @include medidas (5px, none, none,);
        
    }

    main{
        @include medidas (10px, none, none,);

        
    }
    
    h1{
        @include medidas (10px, 0px 5px 10px 5px, 15px);
        
    }
    h2{
        @include medidas (15px, 15px 20px 15px 20px, none);
    }
    
    p{

        @include medidas (15px, 15px 30px 15px 30px, none);
    }
    img{
        max-width: 100%;
    
        
    }
    footer{

        @include medidas (10px, none, none);
    }
    h3{
        @include medidas (15px, 0px 10px 5px 10px, 12px);
    }

    .imgUno{
        display: flex;
        justify-content: center;
    }
    

}